import plotly.express as px
df = px.data.tips()
fig = px.histogram(df, x="total_bill")
fig.show()

In [25]:
import time
import hmac
import requests
import pandas as pd
ts = int(time.time())
l= [2012, 10, 1, 0, 0, 0, 0, 275, -1]
s = time.struct_time(l)
#payload = {'start_time': 1259881511, 'end_time': 1664243416}
r = requests.get('https://ftx.com/api/markets/BTC/USD/candles?resolution=86400&start_time=1559881511')

data=r.json()["result"]
abertura = []
cierre = []
alto = []
bajo = []
anio = []
mes = []
dia = []

for i in range(len(data)):
    abertura.append(data[i]["open"])
    cierre.append(data[i]["close"])
    alto.append(data[i]["high"])
    bajo.append(data[i]["low"])
    anio.append(int(data[i]["startTime"][0:4]))
    mes.append(int(data[i]["startTime"][5:7]))
    dia.append(int(data[i]["startTime"][8:10]))
    
datos = pd.DataFrame({"abre":abertura, "cierre":cierre,"alto":alto,"bajo":bajo,"año":anio,
                     "mes":mes,"dia":dia})

datos.head()

datos.loc[].hist

      abre   cierre     alto     bajo   año  mes  dia
0  10529.0  10594.5  10655.0  10330.0  2019    7   21
1  10594.5  10323.5  10688.5  10078.0  2019    7   22
2  10324.0   9843.5  10330.5   9806.0  2019    7   23
3   9840.5   9770.5   9919.5   9515.5  2019    7   24
4   9770.5   9882.5  10187.5   9740.0  2019    7   25

In [91]:
import matplotlib.pyplot as plt